pyside6
QtAwesome
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-chroma

sounddevice
soundfile
numpy
pydub

pdfplumber
pypdf
python-docx
pyenchant
pycountry
jsonschema
