pyside6
QtAwesome
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-chroma
agent-client-protocol

sounddevice
soundfile
numpy
pydub

pdfplumber
pypdf
pypandoc
pyenchant
pycountry
jsonschema
